* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-option {
    border: 0.5px solid black;
    height: 30px;
}

.address-contain {
    border: 0.5px solid black;
    height: 30px;
}

.cell-contain {
    height: 85vh;
    background-color: aqua;
    overflow: auto;
    /* display: flex; */
}

.sheets {
    border: 0.5px solid px;
    height: 30px;
}

.row {
    display: flex;
}

.cell {
    border: 0.2px solid;
    height: 30px;
    width: 70px;
}